#logo {
    position:absolute;
    z-index: -1;
    width: 200px;
    top: 20px;
    right: 20px;
}

.ui.blue.button, .ui.blue.buttons .button {
    background-color: #970f69 !important;
}

.ui.button {
    border-radius: 0 !important;
    background-color: #970f69 !important;
    color:#fff !important;
}

@media only screen and (max-width: 767px) {
    #logo {
        right: auto;
        left: 50%;
        margin-left: -100px;
    }
}

.ui.green.button, .ui.green.buttons .button {
    background-color: #970f69 !important;
}


#form-table td {
    padding: 8px;
    padding-right: 24px;
}